$gutter: 1rem;

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

figure {
  list-style: none;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.app-nav {
  width: 100%;
  background: #77060d;
  .container {
    justify-content: center;
    .title {
      text-align: center;
      font-family: 'Rye', cursive;
      font-size: 1.5rem;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      color: #fff;
      transition: letter-spacing 300ms ease-out;
      &:hover {
        letter-spacing: 0.6rem;
        transition: letter-spacing 200ms ease-in;
      }
    }
  }
}

.container {
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.app-main {
  // background: #000;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
}

.brewery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 1rem -1rem;
}

.brewery-list__item {
  width: calc(100% / 3 - 2rem);
  margin: 1rem;
  box-shadow: 0.1rem 0.1rem 0.3rem gray;
}

.brewery-card {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-frame {
  width: 30%;
  height: auto;
  margin: $gutter;
}

.logo {
  width: 100%;
  height: auto;
}

.brewery-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.brewery-name {
  font-size: 1.2rem;
}

.brewery-info__sub {
  font-size: 1rem;
}
