<div class="app">
  <nav class="app__nav">
    <div class="container">
      <h1 class="title">Breweries</h1>
    </div>
  </nav>
  <div class="app__main">
    <div class="container">
      <ul class="brewery-list">
        {{#each model.data as |duck|}}
          {{#if duck.images}}
            <li class="brewery-list__item">
              <div class="brewery-card">
                <div class="logo-frame">
                  <img class="logo" src="{{duck.images.icon}}" alt="">
                </div>
                <div class="brewery-info">
                  <h2 class="brewery-name">{{duck.name}}</h2>
                  <h3 class="brewery-info__sub">Est. {{duck.established}}</h3>
                </div>
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    <footer class="app__footer">
      <div class="container">
        <p class="footer__content">Built by Hannah Swift with Ember.js + SASS. View source code <a href="https://github.com/hannahgswift/17-brewery-list/tree/develop">here</a>. Back to <a href="http://hannahg.co/">portfolio</a>.</p>
      </div>
    </footer>
  </div>
</div>
